body{
    background-color: white;
}

h1{
    color: blueviolet;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}