@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

body{
    background-color: white;
}

h1{
    color: blueviolet;
    font-family: 'Roboto';
    font-weight: 700;
}

p{
    color: black;
    font-family: 'Roboto', sans-serif;}
.box-flex{
    margin: 50px auto;
    padding: 20px 50px;
    width: 70%;
    display: flex;
    align-items: center;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    border-color: black;
}
.info-box{
    width: 100%;
    }
img{
    filter: grayscale(100%) brightness(120%);
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
img:hover{
    filter: none;
}

a{
    color: blueviolet;
text-decoration: none;
}