@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");

body {
  background-color: #121212;
}

h1 {
  color: #39ff14;
  font-family: "Roboto";
  font-weight: 700;
}

p {
  color: #ffffffdf;
  font-family: "Roboto", sans-serif;
}
.profile-box-flex {
  margin: 50px auto;
  padding: 20px 50px;
  width: 500px;
  display: flex;
  flex-direction: row;
  /*flex-wrap: wrap;*/
  justify-content: center;
  align-items: center;
  /* border-style: solid;
  border-radius: 10px;
  border-width: 1px;
  border-color: gray; */
}
.info-box {
  padding: 10px 20px;
  width: 100%;
}
img {
  filter: grayscale(100%) brightness(120%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
img:hover {
  filter: none;
}

a {
  color: #1dbb00;
  text-decoration: none;
}
